%ol.breadcrumb
  %li
    %a(ui-sref="items") Товары и категории
  %li.active
    {{item.name}}

%h1
  {{item.name}}
  %span.small {{item.price}} руб.
.row
  .col-md-4
    %h2 Описание
    %pre(ng-show="item.description") {{item.description}}
    %pre(ng-hide="item.description") Нет описания

    %div(ng-show="item.category.id")
      %h2 Категория
      %pre {{item.category.name}}
  .col-md-8
    %h2 Фотографии

    %div(ng-repeat="photo in item.photos")
      %img.thumbnail.item_photo(ng-src="{{photo.image_url}}")
